<form #form="ngForm" (ngSubmit)="save(form)">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="" required #name="ngModel" [(ngModel)]="archivo.name">
        @if (name.invalid) {
            <span>Debe ingresar el campo nombre</span>
        }
    </div>
    <div class="mb-3">
        <label for="creation" class="form-label">Fecha</label>
        <input name="creation" type="date" class="form-control" id="creation" placeholder="" required #creation="ngModel" [(ngModel)]="archivo.creation">
        @if (creation.invalid) {
            <span>Debe ingresar la fecha</span>
        }
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Tipo Archivo</label>
        <select name="type" id="type" [(ngModel)]="archivo.type">
            <option>FOLDER</option>
            <option>FILE</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="parentId" class="form-label">Carpeta</label>
        <select name="parentId" id="parentId" [(ngModel)]="archivo.parentId">
            @for (item of carpetas; track $index) {
                @if (item.type == fileTypes.FOLDER) {
                    <option>{{ item.name }}</option>
                }
            }
        </select>
    </div>
    <div class="mb-3">
        <label for="owners" class="form-label">Dueños</label>
        <select name="owners" id="owners" [(ngModel)]="archivo.owners">
            @for (item of owners; track $index) {
                <option>{{ item.name }}</option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit" >Guardar</button> <!-- [disabled]="form.invalid" para deshabilitar el boton -->
</form>